In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder


def categorise(row):  
    if row['score'] >=10:
        return 1
    elif row['score'] <10 :
        return 0
    else:
        return 'np.nan'

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [2]:
df=pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    NaN       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    NaN       1.0      no
i      Kevin    8.0       NaN     NaN
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

In [3]:
print("sum of NaN values ",df.isnull().sum())
print("total number of missing values in the DataFrame  ",df.isnull().sum().sum())

sum of NaN values  name        0
score       2
attempts    1
qualify     1
dtype: int64
total number of missing values in the DataFrame   4

In [5]:
df['score'].fillna(df['score'].min(),inplace=True)
df['attempts'].fillna(df['attempts'].mean(),inplace=True)
df['qualify'].fillna('no',inplace=True)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    8.0       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    8.0       1.0      no
i      Kevin    8.0       2.0      no
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

In [6]:
df['qualify']= LabelEncoder().fit_transform(df['qualify'])
print(df)

        name  score  attempts  qualify
a  Anastasia   12.5       1.0        1
b       Dima    9.0       3.0        0
c  Katherine   16.5       2.0        1
d      James    8.0       3.0        0
e      Emily    9.0       2.0        0
f    Michael   20.0       3.0        1
g    Matthew   14.5       1.0        1
h      Laura    8.0       1.0        0
i      Kevin    8.0       2.0        0
j      Jonas   19.0       1.0        1
k      Elias   20.0       3.0        1
l     Myriam   16.0       2.0        1

In [7]:
cleanup_num={
    'qualify':{"yes":1, "no":1}
}
df.replace(cleanup_num,inplace=True)
print(df)

        name  score  attempts  qualify
a  Anastasia   12.5       1.0        1
b       Dima    9.0       3.0        0
c  Katherine   16.5       2.0        1
d      James    8.0       3.0        0
e      Emily    9.0       2.0        0
f    Michael   20.0       3.0        1
g    Matthew   14.5       1.0        1
h      Laura    8.0       1.0        0
i      Kevin    8.0       2.0        0
j      Jonas   19.0       1.0        1
k      Elias   20.0       3.0        1
l     Myriam   16.0       2.0        1