In [1]:
import pandas as pd
import numpy as np

def categorise(row):  
    if row['score'] >=10:
        return 1
    elif row['score'] <10 :
        return 0
    else:
        return 'np.nan'

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

df=pd.DataFrame(exam_data)
print("the three first rows")
print(df.head(3))
print("the columns name and score are")
print(df[['name','score']])
print("delete the attempts")
df=df.drop('attempts',axis=1)
print(df)
print('add Success columns')
df['Success'] = df.apply(lambda row: categorise(row), axis=1)
print(df)
df.to_csv('my_data.csv')

the three first rows
        name  score  attempts qualify
0  Anastasia   12.5       1.0     yes
1       Dima    9.0       3.0      no
2  Katherine   16.5       2.0     yes
the columns name and score are
         name  score
0   Anastasia   12.5
1        Dima    9.0
2   Katherine   16.5
3       James    NaN
4       Emily    9.0
5     Michael   20.0
6     Matthew   14.5
7       Laura    NaN
8       Kevin    8.0
9       Jonas   19.0
10      Elias   20.0
11     Myriam   16.0
delete the attempts
         name  score qualify
0   Anastasia   12.5     yes
1        Dima    9.0      no
2   Katherine   16.5     yes
3       James    NaN      no
4       Emily    9.0      no
5     Michael   20.0     yes
6     Matthew   14.5     yes
7       Laura    NaN      no
8       Kevin    8.0     NaN
9       Jonas   19.0     yes
10      Elias   20.0     yes
11     Myriam   16.0     yes
add Success columns
         name  score qualify Success
0   Anastasia   12.5     yes       1
1        Dima    9.0      no       0
2   Katherine   16.5     yes       1
3       James    NaN      no  np.nan
4       Emily    9.0      no       0
5     Michael   20.0     yes       1
6     Matthew   14.5     yes       1
7       Laura    NaN      no  np.nan
8       Kevin    8.0     NaN       0
9       Jonas   19.0     yes       1
10      Elias   20.0     yes       1
11     Myriam   16.0     yes       1